<% provide(:title, 'Art') %>
<% provide(:art, "active") %>

<div class="container span8 offset2", style= "padding-top: 50px;">
	<div class="panel panel-default", >
	  <!-- Default panel contents -->
	  <div class="panel-heading" align="center">Skills</div>

	  <!-- Table -->
	  <table class="table table-condensed table-hover table-col-lg-8">
	  	<thead>
	  		<tr>
	  			<th class="col-lg-6" style="text-align: center;">Skills</th>
	  			<th class="col-lg-6" style="text-align: center;">Level</th>
	  		</tr>
	  	</thead>
	  	<tbody>
		    <tr>
		    	<td class="col-lg-6" style="text-align: center; vertical-align: middle;">Adobe Photoshop</td>
		    	<td class="col-lg-6" style="text-align: center;"><%= image_tag("3star_template-200x50.png") %></td>
		    </tr>
		    <tr>
		    	<td class="col-lg-6" style="text-align: center; vertical-align: middle;">Adobe Illustrator</td>
		    	<td class="col-lg-6" style="text-align: center;"><%= image_tag("4star_template-200x50.png") %></td>
		    </tr>
		    <tr>
		    	<td class="col-lg-6" style="text-align: center; vertical-align: middle;">Sketching</td>
		    	<td class="col-lg-6" style="text-align: center;"><%= image_tag("3star_template-200x50.png") %></td>
		    </tr>
		    <tr>
		    	<td class="col-lg-6" style="text-align: center; vertical-align: middle;">Blender</td>
		    	<td class="col-lg-6" style="text-align: center;"><%= image_tag("1star_template-200x50.png") %></td>
		    </tr>
		</tbody>
	  </table>
	</div>
</div>

	<div class = "container">
	<div class="row">

		<div class="col-xs-6 col-md-4">
			<div class="thumbnail">
				<%= image_tag "card_thumbnail.png", :style => "padding-top: 20px" %>
				<div class="caption">
					<h3>Card Game</h3>
						<p>Created in 2013 of my Sophomore Year.  The card game is based on Legend of the Three Kingdoms (which is a card game based on Bang!).  The theme was for the game to be based around time.  Since I talk about military history so much, I decided to make a game where people can choose a great general and battle it out!  Instructions and the backing of the cards coming soon!</p>
						<p><%= link_to "View Full Picture >>", asset_path("card_print_template.pdf"), class: "btn btn-success" %></p>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="thumbnail">
				<%= image_tag "music_symbol_thumbnail.png", :style => "padding-top: 20px" %>
				<div class="caption">
					<h3>Music Visualization</h3>
						<p>Created in 2013 of my Sophomore Year.  A visualization of the sound of music.  Specifically this song: <%= link_to "Millenium by Farleon", "http://www.youtube.com/watch?v=Wevh2d7nTUY", :target => "_blank" %></p>
						<p><%= link_to "View Full Picture >>", asset_path("music_symbol.png"), class: "btn btn-success" %></p>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="thumbnail">
				<%= image_tag "FNAR_symbol_thumbnail.png", :style => "padding-top: 20px" %>
				<div class="caption">
					<h3>Semiotics: Growing Up</h3>
						<p>Created in 2013 of my Sophomore Year.  The challenge was to create a symbol that aliens would understand.  Which is fairly difficult since you can't assume an alien would know anything at all about humans and how we live.  What I tried to convey to any alien (hopefully friendly) was that humans grow up.</p>
						<p><%= link_to "View Full Picture >>", asset_path("FNAR_symbol.png"), class: "btn btn-success" %></p>
				</div>
			</div>
		</div>

	</div>
