<!DOCTYPE html>
<html lang="en">
<head>
  <title>WebSomesing | <%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
	<!--<header class="nav navbar-nav navbar-right">-->
		<div class="navbar-inner">
			<div class="container">
				
				<a class="btn btn-navbar btn-menu-collapse-toggle" data-target=".nav-collapse" data-toggle="collapse">
					<i class="icon-align-justify"></i>
				</a>

				<%= link_to "Darren Yin", root_path, id: "logo", class: "navbar-brand" %>
					<!--<div class="nav-collapse collapse">-->
						<ul class="nav navbar-nav pull-right">
							<li><%= link_to "Home",			root_path %></li>
							<li><%= link_to "Code",			code_path %></li>
							<li><%= link_to "Art",			art_path %></li>
							<li><%= link_to "About",		about_path %></li>
							<li><%= link_to "Contact",		contact_path %></li>

							<!--<li><%= link_to "Home",			root_path %></li>
							<li><%= link_to "Code",			code_path %></li>
							<li><%= link_to "Art",			art_path %></li>
							<li><%= link_to "About",		about_path %></li>
							<li><%= link_to "Contact",		contact_path %></li>-->


						</ul>
					<!--</div>-->
				</nav>
			</div>
		</div>
	</header>
	<div class="container">
		<%= yield %>
	</div>
	
	<hr>

	<footer>
		<p>&copy; Darren Yin 2013		|		Powered by Ruby on Rails and Bootstrap</p>
	</footer>

</body>
</html>
